body{
    margin: 0;
    background-color: rgb(202, 199, 199);
    overflow-y: scroll;
}

/*Universal stuf*/
.border{
    border-style:solid ;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
}

.font-arial{
    font-family: sans-serif;
}

.height-pictures{
    height: 300px;
}

/*other stuf*/
.contact2{
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    display: inline;
    position: absolute;
    bottom: -300px;
    left: 200px;
   
}

/*navbar stuf*/
a{
    text-decoration: none;
    color: black;
}

nav a{
    font-family: arial;
    font-size: 40px;
    font-weight: 600;
    padding-right: 30px;
}

button{
    text-decoration: none;
    color: black;

}

nav button {
    font-family: arial;
    font-size: 40px;
    font-weight: 600;
    padding-right: 30px;

}

.politics button:hover{
    background-image: url(images/politicsPicture2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.entretainment button:hover{
    background-image: url(images/entretainmentPicture2.cms);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.business button:hover{
    background-image: url(images/businessPicture2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    display: flex;
    height: 70px;
    background-color: rgb(247, 231, 202);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
    height: 100px;
}

/*title*/
.title{
    font-size: 50px;
    display: block;
}

.title2{
    font-size: 50px;
    display: block;
    position: absolute;
    right: 800px;
}

.title h1{
    position: absolute;
    right: 650px;
}

/*top articles stuf*/
.news1{
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 400px;
    
}

.news2{
    display: inline-block;
    position: absolute;
    right: 300px;
    top: 400px;
}

.news3{
    position: absolute;
    display: inline;
    top: 1000px;
    left: 300px;
    
}

.news3 img{
    height: 300px;
}

.contact{
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    display: inline;
    position: absolute;
    bottom: -1000px;
    left: 200px;
    
}

/*Entreiantment news*/
.enews1{
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 400px;

}

.enews2{
    display: inline-block;
    position: absolute;
    right: 200px;
    top: 400px;
}

/*Politic news*/
.pnews1{
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 400px;

}

.pnews2{
    display: inline-block;
    position: absolute;
    right: 400px;
    top: 400px;

}

/*Business news*/
.bnews1{
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 400px;
}

.bnews2{
    display: inline-block;
    position: absolute;
    right: 300px;
    top: 400px;
}
